body{
    background: rgb(212, 203, 203);
}
#navBarList{
    background-color:darkgray;
}
#navBarTask{
    background-color:darkgrey
}
#listBody{
    margin-top: 20px;
}
#todoBody{
    margin-top:20px
}

#deleteList{
    float: right;
}

#deleteTask{
    float: right
}
#selectListButton{
    display:none;
    float:right
}
#renameListButton{
    display:none
}
p{
    background-color:grey ;
    text-align:center;
    width:40%;
    margin-left:30%
}
.change{
    text-align:center
}
#todoPage{
    display:none
}
/* input{
    width: 50%;
    margin-left: 30%;
} */
.taskDiv p{
    display:inline;
    margin-left:0%;
    position: relative;
    background:grey
}
.taskDiv input{
    position: relative;
    display: inline;
    background: grey;
}
.taskDiv select{
    position: relative;
    display: inline;
    background: grey;
}
label{
    background: grey;
}