body{
    background: rgb(212, 203, 203);
}
#navBarList{
    background-color:darkgray;
}
#navBarTask{
    background-color:darkgrey
}
#listBody{
    margin-top: 20px;
}
#todoBody{
    margin-top:20px
}
/* button{
    background-color:#0505059f;
    color:white;
} */

#deleteList{
    /* display:none; */
    float: right;
    /* margin-top: 90%; */
}

#deleteTask{
    float: right
}
#selectListButton{
    display:none;
    float:right
}
#renameListButton{
    display:none
}
p{
    background-color:grey ;
    text-align:center;
    width:40%;
    margin-left:30%
}
.change{
    text-align:center
}
#todoPage{
    display:none
}
input{
    width: 40%;
    margin-left: 30%;
}
.taskDiv p{
    display:inline;
    background:grey
}
.taskDiv input{
    display: inline;
}
.taskDiv select{
    display: inline;
}